__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
dist/
build/
*.egg-info/
manuscript/*.aux
manuscript/*.bbl
manuscript/*.bcf
manuscript/*.blg
manuscript/*.fdb_latexmk
manuscript/*.fls
manuscript/*.log
manuscript/*.out
manuscript/*.pdf
manuscript/*.run.xml
manuscript/*.synctex.gz
manuscript/*.toc
